.services{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:80px;
  margin: 80px 170px ;
  justify-content: center;
  

}
.services-title {
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    

}
.services-title img{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}
.services-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  margin-bottom: 80px;
  
}
.services-format{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-format h3{
    font-size: 20px;
    
}
.services-format h2{
    font-size: 40px;
    background: linear-gradient(orange,pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.services-format p{
    font-size: 20px;
    line-height: 40px;
}

.services-readmore {
     display:flex;
     align-items: center;
     gap:20px;
     margin-top: 20px;


}
.services-readmore p{
    font-size: 20px;
    line-height: 40px;
    max-width: 300px;
}
.services-readmore img{
    cursor: pointer;
    transition: 0.4s;
}
.services-format:hover{
    border:2px solid pink;
    background-image: linear-gradient(rgba(255, 166, 0, 0.597),pink);
    transform: scale(1.05);
    transition: 0.4s;

}