.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(orange, pink);
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect {
  transform: scale(1.05);
}
