.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.project{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin-bottom: 80px;
    margin-top: 10px;
}
.title {
    position: relative;
    margin-bottom: 40px;
    
}
.title h1{
    padding: 0px 30px;
    font-size: 80px;
    margin-bottom: 10px;
}
.title img{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom:0 ;
    margin-top: 10px;
    
    
}
.project-container img{
    padding: 10px 10px;
    cursor: pointer;
}
.project-container:hover{
    border: 2px solid pink;
    transform: scale(1.05);
    transition: 0.3s;
    border-radius: 10px;
}
